@use '../../styles/Mixins.scss';
.Menu{
    background-color: rgba(173, 179, 212, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    height: 400px;
}

.MenuButton{
    background-color:rgba(210, 213, 246, 1);
    border-radius: 5px;
    border: 5px solid rgba(133, 136, 183, 1);
    box-shadow: 4px 4px 4px rgb(91, 93, 129);;
    color:rgb(91, 93, 129);
    font-family: 'Paytone one', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    padding: 5px 35px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  
}

.ButtonIcon{
    width: 60px;
    height: auto;
    image-rendering: pixelated;
}