@mixin buttons
{
    background-color: rgba(181, 187, 219, 1);
    border-radius: 5px;
    border: 5px solid rgba(133, 136, 183, 1);
    box-shadow: 4px 4px 4px rgb(91, 93, 129);;
    color:rgb(91, 93, 129);
    font-family: 'Paytone one', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    padding: 5px 35px;
    cursor: pointer;
    height: fit-content;
}