

.EnvelopeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    gap: 20px;
}

.EnvelopeImage{
    width: 600px;
    height: auto;
    image-rendering: pixelated;
}

.ButtonBox{
    display: flex;
    width: 600px;
    justify-content: space-between;
    gap: 20px;

    .OpenEnvelopeButton {
        flex-grow: 1;
    }

    .ThrowAwayEnvelopeButton {
        flex-grow: 1;
    }
}