

.EnvelopeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw; /* Se till att boxen täcker hela bredden av skärmen */
    height: 100vh; 
}

.EnvelopeImage{
    width: 600px;
    height: auto;
    image-rendering: pixelated;
}

.ButtonBox{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%; /* Se till att knapparna använder hela bredden av sin förälder */
    align-items: center
}